<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Facebook Protect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="assets/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/dataTable.min.css"/>
    <script type="text/javascript" src="assets/js/dataTable.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
</head>

<body style="width:600px;padding: 20px;font-size: 14px !important">
    <div id="app">
        <div class="wrapper" v-if='login'>
            <p>
                <button @click='deleteAllRecords' type="button" class="btn btn-danger">Delete all records <i class="fas fa-trash-alt"></i></button>
                <button @click='logOut' type="button" class="btn btn-danger">Logout <i class="fas fa-power-off"></i></button>
                <button @click='checking' type="button" class="btn btn-warning" v-html='infor.checking'>{{ infor.checking }}</button>
            </p>
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>URL</th>
                        <th>Data</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='(datas,index) in json'>
                        <td style="vertical-align: middle;text-align: center">{{ index + 1}}</td>
                        <td style="min-width:120px;vertical-align: middle;">{{ datas[1][2] }}</td>
                        <td style="min-width:300px;vertical-align: middle !important;">{{ datas[1][0] }}</td>
                        <td style='vertical-align: middle !important;width: 200px;display:inline-block;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;'><a target="_blank" :href='datas[1][1]'>{{ datas[1][1] }}</a></td>
                        <td style='min-width: 320px;vertical-align: middle;'>{{ datas[1][3] }}</td>
                        <td style='min-width: 200px;vertical-align: middle;'><button @click='deleteThis(datas[0])' type="button" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>URL</th>
                        <th>Data</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
            <script>$('#example').DataTable();</script>
        </div>
    </div>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/axios.js"></script>
    <script src="assets/js/app.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
<style>
    button{
        font-size: 14px !important;
    }
</style>
</html>
